{% load static %}
{% block body%}
{% include 'job/navigation.html' %}

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px;color: darkorchid;background-color:black; font-weight: bold;margin-top: 1%;">
    Admin Login
</marquee>
<hr>
<form class="container mt-5" method="POST">
    {% csrf_token %}
    <label><b>Username</b></label>
    <input type="email" class="form-control" name="u_name" placeholder="Enter Username">

    <label><b>Password</b></label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password">

    
    <input type="submit" class="btn btn-primary" style="margin-top:2%; color:darkolivegreen;">
</form>
{% include 'job/footer.html' %}
{% ifequal error "no" %}
<script>
    alert("Login successfully");
    window.location =('{% url 'admin_home'%}')
</script>
{% endifequal %}

{% ifequal error "yes"%}
<script>
    alert("Invalid Login Credentials,Try Again");
</script>
{% endifequal %}
{% endblock body%}