{% load static %}
{% block body%}
{% include 'job/admin_navigation.html' %}
<script>
    function checkpass()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('Password Not Match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    retrun true;
    }
</script>

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px;color: darkorchid;background-color:black; font-weight: bold;margin-top: 1%;">
    Change Password Admin
</marquee>
<hr>
<form class="container mt-5" method="POST" name="changepassword" onsubmit="retrun checkpass()">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" required="true">

    <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required="true">

    <label><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required="true">
    <input type="submit" class="btn btn-primary" style="margin-top:2%; color:darkolivegreen;">
</form>
{% include 'job/footer.html' %}
{% ifequal error "no" %}
<script>
    alert("Password Changed successfully");
    window.location =('{% url 'Logout'%}')
</script>
{% endifequal %}

{% ifequal error "yes"%}
<script>
    alert("Something went Worng,Try Again");
</script>
{% endifequal %}

{% ifequal error "not"%}
<script>
    alert("Current Password is Worng");
</script>
{% endifequal %}
{% endblock body%}